/download/
/GuiCninfo/
/venv/
/json/
/build/
/.vs/
/dist/
/gui/
/test.py
/gui.rar
/GuiCninfo.rar
/ico/icon.png
/ico/logo.png
/.idea/httpRequests/http-requests-log.http
/.idea/shelf/Changes.xml
/main_gui.spec
/.idea/shelf/Changes/shelved.patch
/.idea/workspace.xml
